body {
    padding: 50px;
    background-color: beige;
}

body.tienda{
    background-color: lightsteelblue;
}

.card {
    margin-bottom: 10px;
    margin-right: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: white;
    display: inline-block;
    width: 310px;
  }
  
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.container {
  padding: 2px 16px;
  position: relative;
}
.product{
    border-radius: 5px;
    width: 250px;
    height: 300px;
    padding: 5px;
}

i{
    width: 40px;
    height: 30px;
    padding-left: 40px;
    padding-right: 20px;
}

div.like{
    border-radius: 15px;
    color:indianred;
    display: inline;
}

div.like:hover{
    background-color:tomato;
}

div.message{
    margin-left: 70px;
    align-content: center;
    border-radius: 15px;
    color: limegreen;    
    display: inline;
}

div.message:hover{
    background-color: yellowgreen;
}

h1 {
    color: brown;
}
.fnt-red{
    color: red;
}
.fnt-blue{
    color: blue;
}
.titulo{
    color: lightseagreen;
    font-size: 30px;
    font-style: italic;
}
.texto{
    font-family: Helvetica, sans-serif;
    color:darkblue;
    font-size: 15px;
}
.destacado{
    font-style: italic;
    font-weight: bold;
}